.spacing {
    height: 10px;
}
.spacing-md {
    height: 30px;
}
.spacing-lg {
    height: 50px;
}
.card-box {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.reg-box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.button-long {
    width: 100%;
}
hr {
    margin-top: 5px;
    margin-bottom: 30px;
}