.main-table {
    padding: 25px 0 0 50px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}
.table-text tr td th {
    font-size: 9pt;
    line-height: 22px;
    font-weight: 700;
}
.filters {
    margin: 15px;
    padding: 10px 20px;
    width: 25%;
    background-color: #e7e7e7;
    display: inline-block;
    vertical-align: top;
    font-size: 9pt;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 25px;
}
.table-sm {
    text-align: center;
    font-size: 10pt;
    line-height: 22px;
    font-weight: 500;
    width: 90%;
    min-height: 90%;
}
.table-sm th {
    text-transform: uppercase;
}
.filter-part, .filter-part input, .filter-part label {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;
}
.filter-part-side {
    width: 35%;
    padding-left: 15px;
    padding-right: 15px;
}
.filter-heading {
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 9pt;
    color: #8f8e8e;
}
.filter-title {
    letter-spacing: 4px;
    font-size: 10pt;
    font-weight: 900;
    color: #646363;
}
.filter-select {
    margin-left: 15px;
    margin-right: 15px;
}
.paging {
}
.title-line {
    margin-left: 0;
    margin-right: 0;
    height: 35px;
}
.title-box {
    width: 50%;
    font-size: 14pt;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 4px;
    color: #8f8e8e;
}
.message {
    font-size: 12pt;
    font-weight: 500;
    height: 35px;
    letter-spacing: 2px;
    color: #646363;
    text-transform: uppercase;
}
.sorting-box {
    font-size: 8pt;
    font-weight: 700;
    letter-spacing: 2px;
    color: #3E3F3A;
    text-transform: uppercase;
}
.sort-cell {
    display: inline-block;
    margin: 5px 8px;
}
.sort-cell input {
    width: 13px;
    height: 13px;
    margin: 0;
    vertical-align: text-bottom;
}