/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #eeebe6;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 9pt;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #767676;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgba(0, 0, 0, 0.97);
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0 10px;
}