.info-box {
    margin: 50px;
    width: 50%;
}
.info-title {
}
.info-body table{
    width: 100%;
}
.button-long {
    width: 100%;
}
.info-col-1 {
    width: 50%;
}
.alert-box {
    width: 50%;
    margin: 15px 50px 0 50px;
}
.pass-box, .currency-box {
    width: 60%;
}
.has-padding {
    padding: 0 15px;
}
a.basic-link, a.categories-link {
    color: #3E3F3A;
    text-decoration: none;
}
.link-button, .link-name {
    display: inline-block;
    vertical-align: middle;
}
.link-name {
    padding: 0 10px;
    margin: 0;
}
a.basic-link:hover > .link-name,
a.categories-link:hover > .link-name {
    color: #1e1f1b;
    text-decoration: underline;
}
.btn-basic-settings {
    width: 40px;
    height: 40px;
    padding: 0 0;
    border: none;
    border-radius: 20%;
    outline:none;
    background: #c6d2de38 url(../../resources/images/settings-blue.png) no-repeat center center;
    background-size: 80%;
}
a.basic-link:hover > .btn-basic-settings {
    background: #325d882e url(../../resources/images/settings-blue-dark.png) no-repeat center center;
    background-size: 80%;
}
.btn-categories-settings {
    width: 40px;
    height: 40px;
    padding: 0 0;
    border: none;
    border-radius: 20%;
    outline:none;
    background: #c6d2de38 url(../../resources/images/categories-blue.png) no-repeat center center;
    background-size: 80%;
}
a.categories-link:hover > .btn-categories-settings {
    background: #325d882e url(../../resources/images/categories-blue-dark.png) no-repeat center center;
    background-size: 80%;
}