.main-box {
    margin: 50px;
    width: 60%;
}
.message {
    font-size: 12pt;
    font-weight: 400;
    height: 35px;
    letter-spacing: 1px;
    color: #646363;
}
.table-text tr td th {
    font-size: 9pt;
    line-height: 22px;
    font-weight: 700;
}
.my-card {
    min-height: 275px;
}
.link-box a {
    font-weight: 500;
    color: #646363;
}