<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>
    <link rel="stylesheet" th:href="@{/resources/css/auth.css}" type="text/css">
    <title th:text="#{label.page.auth.login}">Login</title>
</head>
<body>
<div class="container">
    <div class="card mb-3 card-box">
        <div class="card-header text-white bg-primary" th:text="#{label.page.auth.login}">Login</div>
        <div class="card-body bg-light">
            <div th:if="${error}">
                <h5><p class="text-danger" th:text="#{${error}}">Error text</p></h5>
                <div class="spacing"></div>
            </div>

            <form th:if="${error == null}" th:action="@{/login/process}" method="post">
                <div class="form-group">
                    <label for="username" th:text="#{label.user.login}">Login</label>:
                    <input class="form-control" type="text" id="username" name="username" autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label for="password" th:text="#{label.user.password}">Password</label>:
                    <input class="form-control" type="password" id="password" name="password" />
                </div>
                <div class="spacing-md"></div>

                <button type="submit" class="btn btn-outline-secondary button-long" th:text="#{label.button.signin}">Sign in</button>
            </form>

            <form th:if="${error != null}" th:action="@{/login/process}" method="post">
                <div class="form-group has-danger">
                    <label for="username" th:text="#{label.user.login}">Login</label>:
                    <input class="form-control is-invalid" type="text" id="username" name="username" autofocus="autofocus" />
                </div>
                <div class="form-group has-danger">
                    <label for="password" th:text="#{label.user.password}">Password</label>:
                    <input class="form-control is-invalid" type="password" id="password" name="password" />
                </div>
                <div class="spacing-md"></div>

                <button type="submit" class="btn btn-outline-secondary button-long" th:text="#{label.button.signin}">Sign in</button>
            </form>

            <form th:action="@{/sign-up}" method="get">
                <button type="submit" class="btn btn-outline-secondary button-long" th:text="#{label.button.signup}">Sign up</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>