<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>
    <link rel="stylesheet" th:href="@{/resources/css/auth.css}" type="text/css">
    <title th:text="#{label.page.auth.signup}">Sign up</title>
</head>
<body>
<div class="container">
    <div class="card mb-3 reg-box">
        <div class="card-header text-white bg-primary" th:text="#{label.page.auth.signup}">Signup</div>
        <div class="card-body bg-light">
            <form th:action="@{/sign-up}" th:object="${userAccount}" method="post" onsubmit="">
                <div class="row">
                    <div class="col-sm-6">
                        <b th:text="#{label.auth.info}">Basic Info</b>
                        <hr/>

                        <div th:class="${username == null ? 'form-group' : 'form-group has-danger'}">
                            <label for="username" th:text="#{label.user.login}">Login</label>:
                            <input th:field="*{username}" type="text" id="username" autofocus="autofocus"
                                   th:class="${username == null ? 'form-control' : 'form-control is-invalid'}"/>
                            <div th:if="${username != null}" class="invalid-feedback" th:text="#{${username}}">Error message</div>
                        </div>


                        <div th:class="${password == null ? 'form-group' : 'form-group has-danger'}">
                            <label for="password" th:text="#{label.user.password}">Password</label>:
                            <input th:field="*{password}" class="form-control" type="password" id="password"
                                   th:class="${password == null ? 'form-control' : 'form-control is-invalid'}"/>
                            <div th:if="${password != null}" class="invalid-feedback" th:text="#{${password}}">Error message</div>
                        </div>


                        <div th:class="${name == null ? 'form-group' : 'form-group has-danger'}">
                            <label for="name" th:text="#{label.user.name}">Name</label>:
                            <input th:field="*{name}" class="form-control" type="text" id="name"
                                   th:class="${name == null ? 'form-control' : 'form-control is-invalid'}"/>
                            <div th:if="${name != null}" class="invalid-feedback" th:text="#{${name}}">Error message</div>
                        </div>


                        <div th:class="${email == null ? 'form-group' : 'form-group has-danger'}">
                            <label for="email" th:text="#{label.user.email}">Email</label>:
                            <input th:field="*{email}" class="form-control" type="email" id="email"
                                   th:class="${email == null ? 'form-control' : 'form-control is-invalid'}"/>
                            <div th:if="${email != null}" class="invalid-feedback" th:text="#{${email}}">Error message</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b th:text="#{label.auth.settings}">Basic Settings</b>
                        <hr/>

                        <div th:class="${currency == null ? 'form-group' : 'form-group has-danger'}">
                            <label for="currency" th:text="#{label.user.currency}">Currency</label>
                            <select class="form-control" name="currId" id="currency"
                                    th:class="${currency == null ? 'form-control' : 'form-control is-invalid no-image'}">
                                <option value="" disabled th:selected="${selectedCurr == null}" th:text="#{message.placeholder.dropdown}">Dropdown</option>
                                <option th:each="curr: ${currencies}" th:value="${curr.id}" th:text="|${curr.sign} - #{__${curr.sign}__.name}|"
                                        th:selected="${curr.id == selectedCurr}"></option>
                            </select>
                            <div th:if="${currency != null}" class="invalid-feedback" th:text="#{${currency}}">Error message</div>
                        </div>
                    </div>
                </div>
                <div class="spacing-md"></div>

                <button type="submit" class="btn btn-outline-secondary button-long" th:text="#{label.button.signup}">Sign up</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>