<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title th:text="#{label.page.expenses.add}">AddExpenses</title>
    <style>
        body {
            padding-top: 100px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/fragments :: navPanel"></div>
<div th:replace="fragments/fragments :: sidePanel"></div>
<div class="main">
    <div class="col-sm-7">
        <div class="row">
            <h5 th:text="|#{message.success.add} #{label.page.expense} ${expense.amount} #{${session.userAccountConfig.currency.sign}} ${expense.categoryName} - ${expense.subCategoryName}. |">Fill</h5>
        </div>
        <br/>
        <br/>
        <div class="row">
            <form th:action="@{/expense/add}" method="get">
                <button type="submit" class="btn btn-outline-primary" th:text="#{label.page.expenses.add}">AddExpenses</button>
            </form>
        </div>
        <div class="row">
            <form th:action="@{/}"  method="get">
                <button type="submit" class="btn btn-outline-primary" th:text="#{label.page.home.to}">Home</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>