<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/resources/css/expense-income.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/css/exp-inc-card.css}" type="text/css">
    <script>document.write('<script src="../resources/scripts/getSubCategories.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>
    <script>document.write('<script src="../resources/scripts/exp-inc-card.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>

    <title id="pageTitle" th:text="#{label.page.incomes.add}">Add Incomes</title>

    <script>
        $( function() {
            $.datepicker.setDefaults(
                $.datepicker.regional[getDatepickerLocale()]
            );

            $( "#created" ).datepicker({
                dateFormat: "D, d MM"
            }).datepicker('setDate', new Date());
        } );
    </script>

    <script th:inline="javascript">
        function getDatepickerLocale() {
            /*<![CDATA[*/
            var loc = /*[[${#locale}]]*/ 'en-GB';
            /*]]>*/
            if (loc === 'ru_RU') {
                return 'ru';
            } else {
                return 'en-GB';
            }
        }
    </script>
</head>
<body>
<div th:replace="fragments/fragments :: navPanel"></div>
<div th:replace="fragments/fragments :: sidePanel"></div>
<div class="main container">
    <div class="main-box">
        <div th:if="${message == 'ok'}" class="alert-box alert alert-dismissible alert-light">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong th:text="#{message.success.add.income}">Message</strong>:
            <strong th:text="|${savedEntity.amount} #{${savedEntity.currency.sign}}|"></strong>
        </div>

        <div class="create-card">
            <div class="card bg-light mb-3" style="max-width: 50rem; min-width: 650px">
                <div class="card-header"><h5><b th:text="#{label.page.incomes.add}">AddIncomes</b></h5></div>
                <div class="card-body">

                    <form id="my-form" action="#" th:action="@{/income/add}" th:object="${income}" method="post">
                        <input th:field="*{id}" name="id" type="hidden"/>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="amount" th:text="#{label.expense.amount}">Amount</label>
                                    <div class="input-group mb-3">
                                        <input th:field="*{amount}" id="amount" type="number" min="1" class="form-control" th:placeholder="#{message.placeholder.amount}" onclick="this.select()"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text" th:text="#{${session.userAccountConfig.currency.sign}}" th:unless="${session == null}">Currency</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="category-group">
                                    <label for="category" th:text="#{label.expense.categoryName}">Category</label>
                                    <select class="form-control" id="category" name="categoryNumber" th:onchange="|getSubcategories('@{/configs/income-subcategories}')|">
                                        <option value="" th:text="#{message.placeholder.dropdown}"
                                                th:selected="${income.categoryNumber==null}">Dropdown</option>
                                        <option th:each="cat: ${incomeCategories}" th:value="${cat.categoryNumber}" th:text="${cat.categoryName}" th:selected="${cat.categoryName==income.categoryName}"></option>
                                    </select>
                                    <div id="category-error" class="invalid-feedback invisible" th:text="#{message.error.empty.field}">Error message</div>
                                </div>

                                <div class="form-group" id="subCategory-group">
                                    <label for="subCategory" th:text="#{label.expense.subcategoryName}">SubCategory</label>
                                    <select class="form-control" id="subCategory" name="subCategoryNumber">
                                        <option value="" th:text="#{message.placeholder.dropdown}"
                                                th:selected="${income.subCategoryNumber==null}">Dropdown</option>

                                        <option th:each="subcat: ${subcategories}" th:value="${subcat.subCategoryNumber}" th:text="${subcat.subCategoryName}" th:selected="${subcat.subCategoryName==income.subCategoryName}"></option>
                                    </select>
                                    <div id="subCategory-error" class="invalid-feedback invisible" th:text="#{message.error.empty.field}">Error message</div>
                                </div>
                                <br/>
                                <button type="button" class="btn btn-primary" th:text="#{message.add}" onclick="checkAndSubmit()">Add</button>

                            </div>

                            <div class="col-sm-1"></div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label for="created" th:text="#{label.expense.created}">Created</label>
                                            <input th:field="*{created}" id="created" type="text" class="form-control"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="comment" th:text="#{label.expense.comment}">Comment</label>
                                    <textarea class="form-control" th:field="*{comment}" id="comment" rows="5" th:placeholder="#{message.placeholder.comment}"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>