<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>
    <link rel="stylesheet" th:href="@{/resources/css/expense-income.css}" type="text/css">
    <script th:src="@{/resources/scripts/reloaders.js}"></script>
    <title th:text="#{label.page.plan.all.my}">My Plans</title>

    <script>
        function confirmDelete() {
            var message = 'Are you sure?';
            return confirm(message);
        }
    </script>
</head>
<body>
<div th:replace="fragments/fragments :: navPanel"></div>
<div th:replace="fragments/fragments :: sidePanel"></div>
<div class="main">
    <div class="main-table">
        <div class="row title-line">
            <div class="title-box" style="width: 40%">
                <b th:text="#{label.page.plan.all.my}">My plans</b>
            </div>
            <div class="sorting-box" th:if="${plansPaged.totalPages > 0}">
                <div class="sort-cell">
                    <b th:text="#{label.plan.created.short}">Created</b>
                    <input type="image" name="submit" th:src="@{/resources/images/down-dark.png}" onclick="reloadWithSort('created','desc')">
                    <input type="image" name="submit" th:src="@{/resources/images/up-dark.png}" onclick="reloadWithSort('created','asc')">
                </div>
                <div class="sort-cell">
                    <b th:text="#{label.plan.start.short}">Start</b>
                    <input type="image" name="submit" th:src="@{/resources/images/down-dark.png}" onclick="reloadWithSort('startDate','desc')">
                    <input type="image" name="submit" th:src="@{/resources/images/up-dark.png}" onclick="reloadWithSort('startDate','asc')">
                </div>
                <div class="sort-cell">
                    <b th:text="#{label.plan.end.short}">End</b>
                    <input type="image" name="submit" th:src="@{/resources/images/down-dark.png}" onclick="reloadWithSort('endDate','desc')">
                    <input type="image" name="submit" th:src="@{/resources/images/up-dark.png}" onclick="reloadWithSort('endDate','asc')">
                </div>
                <div class="sort-cell">
                    <b th:text="#{label.plan.name}">Name</b>
                    <input type="image" name="submit" th:src="@{/resources/images/down-dark.png}" onclick="reloadWithSort('name','desc')">
                    <input type="image" name="submit" th:src="@{/resources/images/up-dark.png}" onclick="reloadWithSort('name','asc')">
                </div>
            </div>
        </div>
        <div class="row" th:if="${plansPaged.totalPages > 0}">
            <table class="table-sm  table-hover" id="table">
                <tr class="table-text table-active">
                    <th th:text="#{label.plan.name}">Name</th>
                    <th th:text="#{label.plan.created}">Created</th>
                    <th th:text="#{label.plan.comment}">Comment</th>
                    <th th:text="#{label.plan.start}">Start</th>
                    <th th:text="#{label.plan.end}">End</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="plan: ${plansPaged}" class="table-text table-default" >
                    <td th:text="${plan.name}"></td>
                    <td th:text="${#dates.format(plan.created, 'dd MMM yyyy')}"></td>
                    <td th:text="${plan.comment}"></td>
                    <td th:text="${#dates.format(plan.startDate, 'dd MMM yyyy')}"></td>
                    <td th:text="${#dates.format(plan.endDate, 'dd MMM yyyy')}"></td>
                    <td>
                        <form action="#" th:action="@{/short-plan/update/{id}(id=${plan.id})}" method="get" style="margin:0; padding:0">
                            <input type="image" name="submit" th:src="@{/resources/images/edit.png}" width="20" height="20" style="margin:0; padding:2px">
                        </form>
                    </td>
                    <td>
                        <form action="#" th:action="@{/short-plan/delete/{id}(id=${plan.id})}" method="get" style="margin:0; padding:0" >
                            <input type="image" name="submit" th:src="@{/resources/images/delete.png}" onclick="confirmDelete()" width="20" height="20" style="margin:0; padding:2px">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="message" th:if="${plansPaged.totalPages <= 0}">
            <p th:text="#{message.not.found}">Nothing was found.</p>
        </div>
        <div class="spacing"></div>
        <div class="spacing"></div>
        <div class="row paging" th:if="${plansPaged.totalPages > 0}">
            <ul class="pagination pagination-sm">
                <li class="page-item" th:disabled="${plansPaged.hasPrevious()}">
                    <button type="button" class="page-link" th:onclick="|reloadWithPage('${plansPaged.number - 1}')|">&laquo;</button>
                </li>
                <li class="page-item" th:classappend="${i eq plansPaged.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( plansPaged.totalPages > 10 ? plansPaged.number + 1 : 1, plansPaged.totalPages > 10 + plansPaged.number ? plansPaged.number + 10 : plansPaged.totalPages, 1)}">
                    <button type="button" class="page-link" th:onclick="|reloadWithPage('${i - 1}')|" th:text="${i}" th:title="${'Page '+ i}" rel="tooltip"></button>
                </li>
                <li class="page-item" th:disabled="${plansPaged.hasNext()}">
                    <button type="button" class="page-link" th:onclick="|reloadWithPage('${plansPaged.number + 1}')|">&raquo;</button>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>