<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/resources/css/plan.css}" type="text/css">
    <script>document.write('<script src="../../resources/scripts/plan-common.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>
    <script>document.write('<script src="../../resources/scripts/plan-update.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>

    <title th:text="#{label.page.plan.update}">Update Plan</title>
    <script>
        $(document).ready(function () {
            loadPlanForUpdate();
        });
    </script>
    <script th:inline="javascript">
        $( function() {
            $.datepicker.setDefaults(
                $.datepicker.regional[getDatepickerLocale()]
            );

            $( "#start-date" ).datepicker({
                dateFormat: "dd.mm.yy"
            }).datepicker('setDate', new Date(/*[[${plan.startDate}]]*/));

            $( "#end-date" ).datepicker({
                dateFormat: "dd.mm.yy"
            }).datepicker('setDate', new Date(/*[[${plan.endDate}]]*/));
        } );
    </script>

    <script th:inline="javascript">
        function getDatepickerLocale() {
            /*<![CDATA[*/
            var loc = /*[[${#locale}]]*/ 'en-GB';
            /*]]>*/
            if (loc === 'ru_RU') {
                return 'ru';
            } else {
                return 'en-GB';
            }
        }
    </script>
</head>
<body>
<div th:replace="fragments/fragments :: navPanel"></div>
<div th:replace="fragments/fragments :: sidePanel"></div>
<div class="main" id="main">
    <div class="menu-box" id="right-menu">
        <b class="menu-box-title" th:text="#{label.page.plan.update}">Menu</b>
        <div class="spacing"></div>

        <label for="start-date" class="menu-box-heading" th:text="#{message.placeholder.period.start}"></label>
        <input id="start-date" type="text" class="form-control"/>
        <div class="spacing"></div>

        <label for="end-date" class="menu-box-heading" th:text="#{message.placeholder.period.end}"></label>
        <input id="end-date" type="text" class="form-control"/>
        <div class="spacing"></div>

        <label for="plan-name" class="menu-box-heading" th:text="#{label.plan.name}">Name</label>
        <input id="plan-name" type="text" class="form-control" th:value="${plan.name}"/>
        <div class="spacing"></div>

        <label for="plan-comment" class="menu-box-heading" th:text="#{label.plan.comment}">Comment</label>
        <textarea class="form-control"  id="plan-comment" rows="3" th:placeholder="#{message.placeholder.comment}" th:text="${plan.comment}"></textarea>
        <div class="spacing-md"></div>

        <div class="menu-box-heading">
            <section>
                <span th:text="#{label.plan.expenses.total}"></span>
                <span class="dots">.......................................</span>
                <span id="expenses-total" class="total" th:text="${plan.totalExpenses}">0</span>
                <span class="currency" th:text="#{${session.userAccountConfig.currency.sign}}" th:unless="${session == null}">Currency</span>
            </section>
        </div>
        <div class="menu-box-heading">
            <section>
                <span th:text="#{label.plan.incomes.total}"></span>
                <span class="dots">.......................................</span>
                <span id="incomes-total" class="total" th:text="${plan.totalIncomes}">0</span>
                <span class="currency" th:text="#{${session.userAccountConfig.currency.sign}}" th:unless="${session == null}">Currency</span>
            </section>
        </div>
        <hr>
        <div class="menu-box-heading">
            <section>
                <span th:text="#{label.plan.difference}"></span>
                <span class="dots">.......................................</span>
                <span id="difference" class="total" th:text="${plan.totalIncomes - plan.totalExpenses}">0</span>
                <span class="currency" th:text="#{${session.userAccountConfig.currency.sign}}" th:unless="${session == null}">Currency</span>
            </section>
        </div>
        <div class="spacing"></div>

        <button type="button" class="btn btn-primary" th:text="#{label.button.save}" onclick="updatePlan()">Apply</button>
        <div class="spacing"></div>
    </div>
</div>

</body>
</html>