<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/resources/css/plan.css}" type="text/css">
    <link th:href="@{/resources/css/datepicker/datepicker.min.css}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script th:src="@{/resources/scripts/datepicker/datepicker.min.js}"></script>
    <script th:src="@{/resources/scripts/switchers.js}"></script>

    <title th:text="#{label.page.plan.create}">Create Plan</title>
    <script>
        $( function() {
            $('#monthpicker').datepicker({
                inline: false,
                language: 'ru',
                dateFormat: 'mm/yyyy',
                toggleSelected: true,
                view: 'months',
                minView: 'months',

                showOtherYears: true,
                selectOtherYears: true,
                moveToOtherYearsOnSelect: true,
                autoClose: true,
            });
            $('#datepicker1').datepicker({
                inline: false,
                language: 'ru',
                dateFormat: 'dd.mm.yyyy',
                toggleSelected: true,
                view: 'days',
                minView: 'days',
                autoClose: true
            })
            $('#datepicker2').datepicker({
                inline: false,
                language: 'ru',
                dateFormat: 'dd.mm.yyyy',
                toggleSelected: true,
                view: 'days',
                minView: 'days',
                autoClose: true
            })
        } );
    </script>
    <script>
        function goToPlanPage() {
            let url = window.location.href.split('?')[0];
            let params = '';
            let periodType = document.querySelector('input[name="periodType"]:checked').value;
            let startDate;
            let endDate;
            if (periodType === 'month') {
                let monthString = document.getElementById('monthpicker').value;
                let month = monthString.split("/")[0];
                let year = monthString.split("/")[1];
                let dayNumb = new Date(year, month, 0).getDate();
                startDate = "01-" + month + "-" + year;
                endDate = dayNumb + "-" + month + "-" + year;
                params = 'start=' + startDate + '&end=' + endDate;
            }
            if (periodType === 'customPeriod') {
                startDate = (document.getElementById('datepicker1').value).split(".").join("-");
                endDate = (document.getElementById('datepicker2').value).split(".").join("-");
                params = 'start=' + startDate + '&end=' + endDate;
            }

            window.location.href = url + '/plan-page?' + params;
        }
    </script>
</head>
<body>
<div th:replace="fragments/fragments :: navPanel"></div>
<div th:replace="fragments/fragments :: sidePanel"></div>
<div class="main">
    <div class="plan-main">
        <b class="plan-title" th:text="#{label.page.plan.create}">Create plan</b>

        <div class="spacing"></div>
        <div class="spacing"></div>

        <div class="plan-text">
            <div class="radio-part">
                <div class="plan-column-10">
                    <input type="radio" name="periodType" id="periodSwitcher1" value="month"
                           checked onclick="switchPeriod(this)">
                    <label for="periodSwitcher1" th:text="#{label.plan.for-month}">for period</label>
                </div>
                <div class="plan-column-20">
                    <input id="monthpicker" type="text" class="form-control inline" th:placeholder="#{message.placeholder.select.month}">
                </div>
            </div>

            <div class="spacing"></div>
            <div class="spacing"></div>

            <div class="radio-part">
                <div class="plan-column-10">
                    <input type="radio" name="periodType" id="periodSwitcher2" value="customPeriod"
                           onclick="switchPeriod(this)">
                    <label for="periodSwitcher2" th:text="#{label.plan.for-period}">for month</label>
                </div>
                <div class="plan-column-20">
                    <input id="datepicker1" type="text" class="form-control inline" th:placeholder="#{message.placeholder.period.start}" disabled>
                    <div class="spacing"></div>
                    <input id="datepicker2" type="text" class="form-control inline" th:placeholder="#{message.placeholder.period.end}" disabled>
                </div>
            </div>
        </div>

        <div class="spacing"></div>
        <div class="spacing"></div>

        <button type="button" class="btn btn-primary" th:text="#{label.button.next}" onclick="goToPlanPage()">Next</button>
    </div>

</div>

</body>
</html>