<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/fragments :: headerfiles">
    </th:block>
    <link rel="stylesheet" th:href="@{/resources/css/user.css}" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title th:text="#{label.auth.info}">Basic info</title>
</head>
<body>
<div th:replace="fragments/fragments :: navPanel"></div>
<div th:replace="fragments/fragments :: sidePanel"></div>
<div class="main container">
    <div th:if="${message == 'ok'}" class="alert-box alert alert-dismissible alert-light">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong th:text="#{message.success.change.save}">Message</strong>
    </div>

    <div class="info-box">
        <div class="info-title border-bottom">
            <h4 th:text="#{label.auth.info}">Basic info</h4>
        </div>
        <div class="spacing"></div>
        <form th:action="@{/user/edit}" th:object="${userAccount}" method="post">
        <div class="info-body">
            <table class="table table-hover table-light">
                <tr class="table-text">
                    <th th:text="#{label.user.login}" class="border-right" style="width: 50%">Login</th>
                    <td>
                        <div th:class="${username == null ? 'form-group' : 'form-group has-danger'}">
                            <input th:field="*{username}" type="text" id="username" autofocus="autofocus"
                                   th:class="${username == null ? 'form-control' : 'form-control is-invalid'}"/>
                            <div th:if="${username != null}" class="invalid-feedback" th:text="#{${username}}">Error message</div>
                        </div>
                    </td>
                </tr>
                <tr class="table-text">
                    <th th:text="#{label.user.name}" class="border-right" style="width: 50%">Name</th>
                    <td>
                        <div th:class="${name == null ? 'form-group' : 'form-group has-danger'}">
                            <input th:field="*{name}" class="form-control" type="text" id="name"
                                   th:class="${name == null ? 'form-control' : 'form-control is-invalid'}"/>
                            <div th:if="${name != null}" class="invalid-feedback" th:text="#{${name}}">Error message</div>
                        </div>
                    </td>
                </tr>
                <tr class="table-text">
                    <th th:text="#{label.user.email}" class="border-right" style="width: 50%">Email</th>
                    <td>
                        <div th:class="${email == null ? 'form-group' : 'form-group has-danger'}">
                            <input th:field="*{email}" class="form-control" type="email" id="email"
                                   th:class="${email == null ? 'form-control' : 'form-control is-invalid'}"/>
                            <div th:if="${email != null}" class="invalid-feedback" th:text="#{${email}}">Error message</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="spacing-lg"></div>

        <div class="col-5">
                <button type="submit" class="btn btn-primary button-long" th:text="#{label.button.save}">Save</button>
        </div>
        </form>
    </div>
</div>
</body>
</html>