<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title th:text="#{label.page.welcome}">Welcome page</title>
</head>
<body>
<br/>
<br/>
<h2 th:text="#{message.welcome}">Welcome Message</h2>
<br/>
<a th:href="@{/expense/all}" th:text="#{label.page.expenses}">Expenses Page</a>
<br/>
<a th:href="@{/expense/add}" th:text="#{label.page.expenses.add}">Add Expense</a>
</body>
</html>